<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>model</key>
		<string>Murcielago</string>
		<key>lastStarted</key>
		<date>2016-11-08T18:46:43Z</date>
		<key>imageName</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Yellow_murcielago_%286906311439%29.jpg/640px-Yellow_murcielago_%286906311439%29.jpg</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<true/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>20</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>200</integer>
		</dict>
		<key>mark</key>
		<string>Ferrari</string>
		<key>model</key>
		<string>Enzo</string>
		<key>lastStarted</key>
		<date>2016-11-07T18:46:43Z</date>
		<key>imageName</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Enzo_Ferrari_Monaco.jpg/1024px-Enzo_Ferrari_Monaco.jpg</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>3</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>200</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>20</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Pathfinder</string>
		<key>lastStarted</key>
		<date>2016-10-16T18:46:43Z</date>
		<key>imageName</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/2018_Nissan_Pathfinder_%28R52_MY18%29_ST-L_wagon_%282018-09-28%29_01.jpg/640px-2018_Nissan_Pathfinder_%28R52_MY18%29_ST-L_wagon_%282018-09-28%29_01.jpg</string>
		<key>timesDriven</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>4</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>200</integer>
			<key>blue</key>
			<integer>200</integer>
			<key>red</key>
			<integer>200</integer>
		</dict>
		<key>mark</key>
		<string>Mercedes</string>
		<key>model</key>
		<string>GL</string>
		<key>lastStarted</key>
		<date>2016-10-16T18:46:43Z</date>
		<key>imageName</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Mercedes_GL_450_CDI_4MATIC_%28X164%29_Facelift_front_20100926.jpg/640px-Mercedes_GL_450_CDI_4MATIC_%28X164%29_Facelift_front_20100926.jpg</string>
		<key>timesDriven</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>rating</key>
		<integer>4</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>80</integer>
			<key>blue</key>
			<integer>80</integer>
			<key>red</key>
			<integer>80</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>X6</string>
		<key>lastStarted</key>
		<date>2016-09-20T18:46:43Z</date>
		<key>imageName</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/2018_BMW_X6_xDrive30d_M_Sport_Automatic_3.0_Front.jpg/640px-2018_BMW_X6_xDrive30d_M_Sport_Automatic_3.0_Front.jpg</string>
		<key>timesDriven</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
